<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="phanes.replay.gathering.persistence.mapper.GatheringQueryMapper">
    <select id="findAllByKeywordAndCityAndStateAndDateAndGenre" resultType="phanes.replay.gathering.dto.query.GatheringQuery">
        SELECT gltp.*,
        CASE WHEN gl.user_id IS NOT NULL THEN TRUE ELSE FALSE END AS is_liked
        FROM gathering_list_with_theme_and_participant gltp
        LEFT JOIN gathering_like gl ON gltp.gathering_id = gl.gathering_id AND gl.user_id = #{userId}
        <where>
            <if test="city != null">AND city = #{city}</if>
            <if test="state != null">AND state = #{state}</if>
            <if test="keyword != null">AND gltp.name LIKE CONCAT('%', #{keyword}, '%')</if>
            <if test="genre != null">
                AND EXISTS (
                SELECT 1
                FROM genre g
                WHERE g.theme_id = gltp.theme_id
                AND g.name = #{genre}
                )
            </if>
            <if test="startDate != null">
                AND date_time &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                AND date_time &lt;= #{endDate}
            </if>
            <if test="sortBy == 'registrationEnd'">AND date_time &gt; NOW()</if>
        </where>
        <choose>
            <when test="sortBy == 'dateTime'">
                ORDER BY date_time DESC
            </when>
            <when test="sortBy == 'registrationEnd'">
                ORDER BY date_time ASC
            </when>
            <when test="sortBy == 'participantCount'">
                ORDER BY participant_count DESC
            </when>
            <otherwise>
                ORDER BY date_time DESC
            </otherwise>
        </choose>
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    <select id="countByKeywordAndCityAndStateAndDateAndGenre" resultType="Long">
        SELECT COUNT(*)
        FROM gathering_list_with_theme_and_participant gltp
        <where>
            <if test="city != null">AND city = #{city}</if>
            <if test="state != null">AND state = #{state}</if>
            <if test="keyword != null">AND gltp.name LIKE CONCAT('%', #{keyword}, '%')</if>
            <if test="genre != null">
                AND EXISTS (
                SELECT 1
                FROM genre g
                WHERE g.theme_id = gltp.theme_id
                AND g.name = #{genre}
                )
            </if>
            <if test="startDate != null">
                AND date_time &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                AND date_time &lt;= #{endDate}
            </if>
            <if test="sortBy == 'registrationEnd'">
                AND date_time &gt; NOW()
            </if>
        </where>
    </select>
    <select id="findAllByHost" resultType="phanes.replay.gathering.dto.query.GatheringQuery">
        SELECT gp.*,
               CASE WHEN gl.gathering_id IS NOT NULL THEN TRUE ELSE FALSE END AS is_liked
        FROM gathering_participant gp
                 LEFT JOIN gathering_like gl ON gp.gathering_id = gl.gathering_id AND gl.user_id = #{userId}
        WHERE gp.user_id = #{hostId}
          AND gp.role = 'HOST'
          AND date_time &gt; NOW()
          AND gp.gathering_id != #{gatheringId}
        ORDER BY date_time
    </select>
    <select id="countByDate" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM gathering_list_with_theme_and_participant gltp
        WHERE gathering_id != #{gatheringId}
          AND date_time BETWEEN #{startDate} AND #{endDate}
    </select>
    <select id="findAllByDate" resultType="phanes.replay.gathering.dto.query.GatheringQuery">
        SELECT gltp.*,
               CASE WHEN gl.user_id IS NOT NULL THEN TRUE ELSE FALSE END AS is_liked
        FROM gathering_list_with_theme_and_participant gltp
                 LEFT JOIN gathering_like gl ON gltp.gathering_id = gl.gathering_id AND gl.user_id = #{userId}
        WHERE gltp.gathering_id != #{gatheringId}
          AND date_time BETWEEN #{startDate} AND #{endDate}
        ORDER BY date_time
    </select>
</mapper>
