<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="phanes.replay.user.persistence.mapper.UserThemeQueryMapper">
    <select id="findUserVisitThemes" resultType="phanes.replay.user.dto.user.query.UserVisitThemeQuery">
        SELECT tvwr.*,
               r.id                                                      AS review_id,
               r.score,
               r.hint,
               r.number_of_player,
               r.theme_review,
               r.level_review,
               r.story_review,
               r.content,
               r.success
        FROM theme_visit_with_review tvwr
                 LEFT JOIN review r ON tvwr.theme_id = r.theme_id and r.user_id = #{userId}
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="findUserLikeThemes" resultType="phanes.replay.user.dto.user.query.UserLikeThemeQuery">
        SELECT *
        FROM theme_like_with_review_summary
        WHERE user_id = #{userId}
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
</mapper>
