<mapper namespace="phanes.replay.user.persistence.mapper.UserGatheringQueryMapper">
    <select id="findUserParticipantGathering" resultType="phanes.replay.user.dto.user.query.UserParticipantGatheringQuery">
        SELECT *
        FROM gathering_participant
        WHERE user_id = #{userId}
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="findUserLikeGathering" resultType="phanes.replay.user.dto.user.query.UserLikeGatheringQuery">
        SELECT *
        FROM gathering_like_with_participant
        WHERE user_id = #{userId}
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="findUserSchedule" resultType="phanes.replay.user.dto.user.query.UserSchedule">
        SELECT *
        FROM gathering_schedule
        WHERE user_id = #{userId}
    </select>
</mapper>
