<mapper namespace="phanes.replay.user.persistence.mapper.UserThemeQueryMapper">
    <select id="findUserVisitThemes" resultType="phanes.replay.user.dto.user.query.UserVisitThemeQuery">
        SELECT *
        FROM theme_visit_with_review
        WHERE user_id = #{userId}
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="findUserLikeThemes" resultType="phanes.replay.user.dto.user.query.UserLikeThemeQuery">
        SELECT *
        FROM theme_like_with_review_summary
        WHERE user_id = #{userId}
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
</mapper>
