<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//myba
        tis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="phanes.replay.theme.persistence.mapper.ThemeQueryMapper">
    <select id="findAllByKeywordAndAddress" resultType="phanes.replay.theme.dto.query.ThemeQuery">
        SELECT tlr.*,
            CASE WHEN tl.user_id IS NOT NULL THEN TRUE ELSE FALSE END AS is_liked,
            CASE WHEN tv.user_id IS NOT NULL THEN TRUE ELSE FALSE END AS is_marked
        FROM theme_list_with_review tlr
        LEFT JOIN theme_like tl ON tl.theme_id = tlr.theme_id AND tl.user_id = #{userId}
        LEFT JOIN theme_visit tv ON tv.theme_id = tlr.theme_id AND tv.user_id = #{userId}
        <where>
            <if test="city != null">AND city = #{city}</if>
            <if test="state != null">AND state = #{state}</if>
            <if test="keyword != null">AND tlr.theme_name LIKE CONCAT('%', #{keyword}, '%')</if>
            <if test="genre != null">
                AND EXISTS (
                SELECT 1
                FROM genre g
                WHERE g.theme_id = tlr.theme_id
                AND g.name = #{genre}
                )
            </if>
        </where>
        <choose>
            <when test="sortBy == 'rating'">
                ORDER BY rating DESC
            </when>
            <when test="sortBy == 'likes'">
                ORDER BY like_count DESC
            </when>
            <when test="sortBy == 'reviews'">
                ORDER BY review_count DESC
            </when>
            <otherwise>
                ORDER BY rating DESC
            </otherwise>
        </choose>
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    <select id="countByKeywordAndAddress" resultType="Long">
        SELECT COUNT(*)
        FROM theme_list_with_review tlr
        <where>
            <if test="city != null">AND city = #{city}</if>
            <if test="state != null">AND state = #{state}</if>
            <if test="keyword != null">AND tlr.theme_name LIKE CONCAT('%', #{keyword}, '%')</if>
            <if test="genre != null">
                AND EXISTS (
                SELECT 1
                FROM genre g
                WHERE g.theme_id = tlr.theme_id
                AND g.name = #{genre}
                )
            </if>
        </where>
    </select>
    <select id="findAllByKeywordAndCityAndState" resultType="phanes.replay.theme.dto.query.ThemeSearchQuery">
        SELECT t.id, t.name, t.cafe, t.spot
        FROM theme t
        <where>
            <if test="city != null">AND city = #{city}</if>
            <if test="state != null">AND city = #{state}</if>
            <if test="keyword != null">AND t.name LIKE CONCAT('%', #{keyword}, '%')</if>
        </where>
    </select>
</mapper>
